.main {
  margin: 0;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content:center;
  box-sizing: border-box;
  height: 50vh;
  width: 100%;
  border-radius: 10px;
  background: linear-gradient(135deg, #153677, #4e085f);
}

.container {
  position: relative;
  width: 100%;
  max-width: 90%;
  height: 75%;
  background: #fff;
  margin: 2.8rem auto 3.1rem;
  padding: 20px 30px 30px 20px;
  border-radius: 10px;
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0 0 30px rgb(26, 8, 59);
  animation: glow 2s infinite alternate;
  overflow-y: auto; /* Allow scrolling for overflowing content */
}

.container:hover {
  box-shadow: 0 0 20px rgba(229, 239, 241, 0.2);
}

.container h2 {
  color: #002765;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 30px;
  padding: 10px;
  z-index: 1;
  transition: all 0.3s ease 0s;
}

.row:hover {
  background: #d6d8da;
}

input[type="text"] {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  font-size: 15px;
  transition: all 0.3s ease 0s;
}

.add {
  border: none;
  outline: none;
  max-height: 60px;
  padding: 8px 15px;
  background: #e85f4f;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 30px;
  transition: all 0.3s ease 0s;
}

.add:hover {
  background: #bc4639;
  transform: scale(1.05);
}

.list-container {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* Allow scrolling for overflowing content */
  max-height: 12rem; /* Limit the height of the task list */
}

li.todo-item {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 8px;
  color: #4e085f;
  justify-content: space-between; /* Align items nicely */
}

input[type="checkbox"] {
  margin-right: 10px; /* Add space between checkbox and text */
}

span {
  flex: 1;
  word-break: break-all;
}

.del {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #ff3333;
  transition: color 0.3s ease-in-out;
}

.del:hover {
  color: #ff0000;
  transform: scale(1.05);
}

/* Media Queries */
@media (max-width: 814px) {
  .container {
    padding: 20px 30px 30px 20px;
    overflow-x: hidden;
  }
  
  .row {
    flex-direction: column;
  }
  
  li.todo-item {
    margin-left: 0;
    margin-right: 0;
  }
  
  .del {
    right: 20px;
  }
}

@media (max-width: 500px) {
  .container {
    padding: 20px 30px 30px 20px;
    overflow-x: hidden;
  }
  
  .row {
    flex-direction: column;
  }
  
  li.todo-item {
    margin-left: 0;
    margin-right: 0;
  }
  
  .del {
    right: 20px;
  }
}
